/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.admin_application{
  background-color: red;
  text-transform: uppercase;
  padding-bottom:10px;
  padding-top:10px;
  margin-top: 50px;
  filter: drop-shadow(15px 15px 4px yellow);
  text-align: center;
  font-style: italic;
}
.application{
  background-color: yellow;
  text-transform: uppercase;
  padding-bottom:10px;
  padding-top:10px;
  margin-top: 50px;
  filter: drop-shadow(15px 15px 4px red);
  text-align: center;
  font-style: italic;
}

.appl_text{
  color: blue;
  filter: drop-shadow(5px 5px 4px #ffffff);
}
.application_container{
  max-width: 50%;
  padding-top:auto;
  padding-bottom:auto;
  position: relative;
  margin: auto;
}

.appl_information{
  text-align: center;
  filter: drop-shadow(5px 5px 4px grey);
}

.appl_submission{
  text-align: center;
  filter: drop-shadow(30px 30px 70px yellow);
}

.appl_pets{
  text-align: center;
  filter: drop-shadow(30px 30px 40px red);
}

.appl_status{
  text-align: center;
  filter: drop-shadow(30px 30px 40px blue);
}
