<h1> <%= @shelter.name %> </h1>

<p><strong>Shelter address:</strong> <%= @shelter.city %> </p>

<div id="statistics">
  <h3><%= @shelter.name %> statistics:</h3>
  <p><strong>Number of adoptable pets:</strong> <%= @shelter.adoptable_pets.count %>
</div>
